.navbar-header img{
	max-height: 30px;
	max-width: auto;
}
.jumbotron {
	background-image: url("assets/bg2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
}
.thumbnail{
	-webkit-border-radius: 10%;
	overflow: hidden;
	padding: 0 !important;
	border: 5px #DDDDDD solid;
}
